[mysqld]
collation-server = utf8_unicode_ci
character-set-server = utf8
skip-character-set-client-handshake
init-connect = 'SET NAMES utf8'

default-time-zone='SYSTEM'
max_allowed_packet      = 16M
innodb_ft_min_token_size=2
ft_min_word_len=2

[client]
default-character-set = utf8

[mysql]
default-character-set = utf8
